This dataset is designed for predicting food delivery times based on various influencing factors such as distance, weather, traffic conditions, and time of day. It offers a practical and engaging challenge for machine learning practitioners, especially those interested in logistics and operations research.

#### Key Features:
##### Order_ID: Unique identifier for each order.
##### Distance_km: The delivery distance in kilometers.
##### Weather: Weather conditions during the delivery, including Clear, Rainy, Snowy, Foggy, and Windy.
##### Traffic_Level: Traffic conditions categorized as Low, Medium, or High.
##### Time_of_Day: The time when the delivery took place, categorized as Morning, Afternoon, Evening, or Night.
##### Vehicle_Type: Type of vehicle used for delivery, including Bike, Scooter, and Car.
##### Preparation_Time_min: The time required to prepare the order, measured in minutes.
##### Courier_Experience_yrs: Experience of the courier in years.
##### Delivery_Time_min: The total delivery time in minutes (target variable).

In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [34]:
df=pd.read_csv("C:\\Users\\Harpreet\\Desktop\\Complete_ML_Project\\notebook\\Food_Delivery_Times.csv")
df

,Order_ID,Distance_km,Weather,Traffic_Level,Time_of_Day,Vehicle_Type,Preparation_Time_min,Courier_Experience_yrs,Delivery_Time_min
0,522,7.93,Windy,Low,Afternoon,Scooter,12,1.0,43
1,738,16.42,Clear,Medium,Evening,Bike,20,2.0,84
2,741,9.52,Foggy,Low,Night,Scooter,28,1.0,59
3,661,7.44,Rainy,Medium,Afternoon,Scooter,5,1.0,37
4,412,19.03,Clear,Low,Morning,Bike,16,5.0,68
...,...,...,...,...,...,...,...,...,...
995,107,8.50,Clear,High,Evening,Car,13,3.0,54
996,271,16.28,Rainy,Low,Morning,Scooter,8,9.0,71
997,861,15.62,Snowy,High,Evening,Scooter,26,2.0,81
998,436,14.17,Clear,Low,Afternoon,Bike,8,0.0,55
999,103,6.63,Foggy,Low,Night,Scooter,24,3.0,58

In [42]:
df.shape

(1000, 9)

In [30]:
df

<bound method DataFrame.dropna of      Order_ID  Distance_km Weather Traffic_Level Time_of_Day Vehicle_Type  \
0         522         7.93   Windy           Low   Afternoon      Scooter
1         738        16.42   Clear        Medium     Evening         Bike
2         741         9.52   Foggy           Low       Night      Scooter
3         661         7.44   Rainy        Medium   Afternoon      Scooter
4         412        19.03   Clear           Low     Morning         Bike
..        ...          ...     ...           ...         ...          ...
995       107         8.50   Clear          High     Evening          Car
996       271        16.28   Rainy           Low     Morning      Scooter
997       861        15.62   Snowy          High     Evening      Scooter
998       436        14.17   Clear           Low   Afternoon         Bike
999       103         6.63   Foggy           Low       Night      Scooter

     Preparation_Time_min  Courier_Experience_yrs  Delivery_Time_min
0                      12                     1.0                 43
1                      20                     2.0                 84
2                      28                     1.0                 59
3                       5                     1.0                 37
4                      16                     5.0                 68
..                    ...                     ...                ...
995                    13                     3.0                 54
996                     8                     9.0                 71
997                    26                     2.0                 81
998                     8                     0.0                 55
999                    24                     3.0                 58

[1000 rows x 9 columns]>

In [44]:
import warnings

warnings.filterwarnings("ignore")


df.Weather.fillna(df.Weather.mode()[0],inplace=True)

In [46]:
df.Weather.fillna(df.Weather.mode()[0],inplace=True)
df.Traffic_Level.fillna(df.Traffic_Level.mode()[0],inplace=True)
df.Time_of_Day.fillna(df.Time_of_Day.mode()[0],inplace=True)
df.Courier_Experience_yrs.fillna(df.Courier_Experience_yrs.mode()[0],inplace=True)

In [54]:
df.isnull().sum()

Order_ID                  0
Distance_km               0
Weather                   0
Traffic_Level             0
Time_of_Day               0
Vehicle_Type              0
Preparation_Time_min      0
Courier_Experience_yrs    0
Delivery_Time_min         0
dtype: int64

In [56]:
df.to_csv('Updated_Food_Delivery_Times.csv', index=False)