In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
df=pd.read_csv("C:\\Users\\Harpreet\\Desktop\\Complete_ML_Project\\notebook\\data\\Updated_Food_Delivery_Times.csv")

In [6]:
df

,Order_ID,Distance_km,Weather,Traffic_Level,Time_of_Day,Vehicle_Type,Preparation_Time_min,Courier_Experience_yrs,Delivery_Time_min
0,522,7.93,Windy,Low,Afternoon,Scooter,12,1.0,43
1,738,16.42,Clear,Medium,Evening,Bike,20,2.0,84
2,741,9.52,Foggy,Low,Night,Scooter,28,1.0,59
3,661,7.44,Rainy,Medium,Afternoon,Scooter,5,1.0,37
4,412,19.03,Clear,Low,Morning,Bike,16,5.0,68
...,...,...,...,...,...,...,...,...,...
995,107,8.50,Clear,High,Evening,Car,13,3.0,54
996,271,16.28,Rainy,Low,Morning,Scooter,8,9.0,71
997,861,15.62,Snowy,High,Evening,Scooter,26,2.0,81
998,436,14.17,Clear,Low,Afternoon,Bike,8,0.0,55
999,103,6.63,Foggy,Low,Night,Scooter,24,3.0,58

In [8]:
df = df.drop('Order_ID', axis=1)

In [10]:
df

,Distance_km,Weather,Traffic_Level,Time_of_Day,Vehicle_Type,Preparation_Time_min,Courier_Experience_yrs,Delivery_Time_min
0,7.93,Windy,Low,Afternoon,Scooter,12,1.0,43
1,16.42,Clear,Medium,Evening,Bike,20,2.0,84
2,9.52,Foggy,Low,Night,Scooter,28,1.0,59
3,7.44,Rainy,Medium,Afternoon,Scooter,5,1.0,37
4,19.03,Clear,Low,Morning,Bike,16,5.0,68
...,...,...,...,...,...,...,...,...
995,8.50,Clear,High,Evening,Car,13,3.0,54
996,16.28,Rainy,Low,Morning,Scooter,8,9.0,71
997,15.62,Snowy,High,Evening,Scooter,26,2.0,81
998,14.17,Clear,Low,Afternoon,Bike,8,0.0,55
999,6.63,Foggy,Low,Night,Scooter,24,3.0,58

In [12]:
df.to_csv('Updatedd_Food_Delivery_Times.csv', index=False)

In [14]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns
# Modelling
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression, Ridge,Lasso
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
import warnings

In [16]:
df=pd.read_csv("C:\\Users\\Harpreet\\Desktop\\Complete_ML_Project\\notebook\\data\\Updatedd_Food_Delivery_Times.csv")
df

,Distance_km,Weather,Traffic_Level,Time_of_Day,Vehicle_Type,Preparation_Time_min,Courier_Experience_yrs,Delivery_Time_min
0,7.93,Windy,Low,Afternoon,Scooter,12,1.0,43
1,16.42,Clear,Medium,Evening,Bike,20,2.0,84
2,9.52,Foggy,Low,Night,Scooter,28,1.0,59
3,7.44,Rainy,Medium,Afternoon,Scooter,5,1.0,37
4,19.03,Clear,Low,Morning,Bike,16,5.0,68
...,...,...,...,...,...,...,...,...
995,8.50,Clear,High,Evening,Car,13,3.0,54
996,16.28,Rainy,Low,Morning,Scooter,8,9.0,71
997,15.62,Snowy,High,Evening,Scooter,26,2.0,81
998,14.17,Clear,Low,Afternoon,Bike,8,0.0,55
999,6.63,Foggy,Low,Night,Scooter,24,3.0,58

In [18]:
X = df.drop(columns=['Delivery_Time_min'],axis=1)

In [20]:
print("Categories in Weather variable:     ",end=" " )
print(df['Weather'].unique())

print("Categories in Traffic_Level variable:  ",end=" ")
print(df['Traffic_Level'].unique())

print("Categories in Time_of_Day variable:",end=" " )
print(df['Time_of_Day'].unique())

print("Categories in Vehicle_Type variable:     ",end=" " )
print(df['Vehicle_Type'].unique())

Categories in Weather variable:      ['Windy' 'Clear' 'Foggy' 'Rainy' 'Snowy']
Categories in Traffic_Level variable:   ['Low' 'Medium' 'High']
Categories in Time_of_Day variable: ['Afternoon' 'Evening' 'Night' 'Morning']
Categories in Vehicle_Type variable:      ['Scooter' 'Bike' 'Car']

In [22]:
# Create Column Transformer with 3 types of transformers
num_features = X.select_dtypes(exclude="object").columns
cat_features = X.select_dtypes(include="object").columns

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer

numeric_transformer = StandardScaler()
oh_transformer = OneHotEncoder()

preprocessor = ColumnTransformer(
    [
        ("OneHotEncoder", oh_transformer, cat_features),
         ("StandardScaler", numeric_transformer, num_features),        
    ]
)

In [26]:
X = preprocessor.fit_transform(X)

In [30]:
y = df['Delivery_Time_min']

In [32]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)
X_train.shape, X_test.shape

((800, 18), (200, 18))

In [34]:
def evaluate_model(true, predicted):
    mae = mean_absolute_error(true, predicted)
    mse = mean_squared_error(true, predicted)
    rmse = np.sqrt(mean_squared_error(true, predicted))
    r2_square = r2_score(true, predicted)
    return mae, rmse, r2_square

In [40]:
models = {
              "Random Forest":RandomForestRegressor(),
                "Decision Tree":DecisionTreeRegressor(),
                # "Gradient Boosting":GradientBoostingRegressor(),
                "Linear Regression":LinearRegression(),
                "K Nearest Classifier":KNeighborsRegressor(),
                "XGB Classifier":XGBRegressor(),
                "CatBoost Classifier":CatBoostRegressor(verbose=False),
                "AdaBoost Classifier":AdaBoostRegressor()
}
model_list = []
r2_list =[]

for i in range(len(list(models))):
    model = list(models.values())[i]
    model.fit(X_train, y_train) # Train model

    # Make predictions
    y_train_pred = model.predict(X_train)
    y_test_pred = model.predict(X_test)
    
    # Evaluate Train and Test dataset
    model_train_mae , model_train_rmse, model_train_r2 = evaluate_model(y_train, y_train_pred)

    model_test_mae , model_test_rmse, model_test_r2 = evaluate_model(y_test, y_test_pred)

    
    print(list(models.keys())[i])
    model_list.append(list(models.keys())[i])
    
    print('Model performance for Training set')
    print("- Root Mean Squared Error: {:.4f}".format(model_train_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_train_mae))
    print("- R2 Score: {:.4f}".format(model_train_r2))

    print('----------------------------------')
    
    print('Model performance for Test set')
    print("- Root Mean Squared Error: {:.4f}".format(model_test_rmse))
    print("- Mean Absolute Error: {:.4f}".format(model_test_mae))
    print("- R2 Score: {:.4f}".format(model_test_r2))
    r2_list.append(model_test_r2)
    
    print('='*35)
    print('\n')

Random Forest
Model performance for Training set
- Root Mean Squared Error: 4.5494
- Mean Absolute Error: 2.9528
- R2 Score: 0.9582
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 9.7763
- Mean Absolute Error: 6.8161
- R2 Score: 0.7868
===================================


Decision Tree
Model performance for Training set
- Root Mean Squared Error: 0.0000
- Mean Absolute Error: 0.0000
- R2 Score: 1.0000
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 14.7026
- Mean Absolute Error: 10.2750
- R2 Score: 0.5177
===================================


Linear Regression
Model performance for Training set
- Root Mean Squared Error: 10.8572
- Mean Absolute Error: 6.6161
- R2 Score: 0.7622
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 8.8726
- Mean Absolute Error: 5.8806
- R2 Score: 0.8244
===================================


K Nearest Classifier
Model performance for Training set
- Root Mean Squared Error: 10.8520
- Mean Absolute Error: 7.8595
- R2 Score: 0.7624
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 11.3173
- Mean Absolute Error: 8.5820
- R2 Score: 0.7142
===================================


XGB Classifier
Model performance for Training set
- Root Mean Squared Error: 0.7226
- Mean Absolute Error: 0.4651
- R2 Score: 0.9989
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 10.4598
- Mean Absolute Error: 7.4314
- R2 Score: 0.7559
===================================


CatBoost Classifier
Model performance for Training set
- Root Mean Squared Error: 4.4280
- Mean Absolute Error: 3.1108
- R2 Score: 0.9604
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 9.1468
- Mean Absolute Error: 6.3603
- R2 Score: 0.8133
===================================


AdaBoost Classifier
Model performance for Training set
- Root Mean Squared Error: 15.3000
- Mean Absolute Error: 13.4028
- R2 Score: 0.5278
----------------------------------
Model performance for Test set
- Root Mean Squared Error: 15.7587
- Mean Absolute Error: 13.8129
- R2 Score: 0.4460
===================================